﻿
<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KreativDev">
    <meta name="description" content="Multi-Tenant, Course, Course Selling">

    <!-- Title -->
    <title>來學樂-多元課程預約平台</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/logo/frontlogo.png" type="image/x-icon">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/vendors/bootstrap.min.css">
    <!----Fontawesome Icon CSS (模板綁定的商業版(版本較舊))-->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- Fontawesome Icon CSS (替換成放在lib的)-->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.min.css" asp-append-version="true">
    <!-- Icomoon Icon CSS -->
    <link rel="stylesheet" href="~/fonts/icomoon/style.css" asp-append-version="true">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/vendors/magnific-popup.min.css" asp-append-version="true">
    <!-- NoUi Range Slider -->
    <link rel="stylesheet" href="~/css/vendors/nouislider.min.css" asp-append-version="true">
    <!-- Swiper Slider -->
    <link rel="stylesheet" href="~/css/vendors/swiper-bundle.min.css" asp-append-version="true">
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/css/vendors/nice-select.css" asp-append-version="true">
    <!-- AOS Animation CSS -->
    <link rel="stylesheet" href="~/css/vendors/aos.min.css" asp-append-version="true">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/vendors/animate.min.css" asp-append-version="true">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    <!--中文字體-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <!--調整前台右上角下拉選單和後台樣式相近-->
    <link href="~/css/adjustdropdown.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css" />
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link href="~/css/video.css" rel="stylesheet" asp-append-version="true" />
    <!--推播客服樣式-->
    <link href="~/css/BenAdd/LayoutAIC.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("Styles", required: false)

    @await RenderSectionAsync("Style", required: false)
</head>

<body class="theme-color-1">
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader"></div>
    </div>
    <!-- Preloader end -->
    <!-- Header-area start -->
    <header class="header-area">
        <!-- Start mobile menu -->
        <div class="mobile-menu">
            <div class="container">
                <div class="mobile-menu-wrapper"></div>
            </div>
        </div>
        <!-- End mobile menu -->

        <div class="main-responsive-nav">
            <div class="container">
                <!-- Mobile Logo -->
                <div class="logo">
                    <a asp-controller="Lesson" asp-action="Index" target="_self" title="LifeShareLearn">
                        <img class="lazyload" src="/images/placeholder.png" data-src="/images/logo/favicon.png" alt="Brand Logo">
                    </a>
                </div>
                <!-- Menu toggle button -->
                <button class="menu-toggler" type="button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>

        <div class="main-navbar">
            <div class="header-bottom bg-white">
                <div class="container">
                    <nav class="navbar navbar-expand-lg p-3">
                        <!-- Logo -->
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand" target="_self" title="LifeShareLearn">
                            <img class="lazyload img-fluid img-fixed-size" src="~/images/logo/transparentlogo.png" alt="Brand Logo" style="width: 169px ; height: 43px">
                        </a>
                        <!-- Navigation items -->
                        <div class="collapse navbar-collapse">
                            <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
                                <li class="nav-item p-1 position-relative" style="display: block;margin: 0;padding: 0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="searchInput" style="width: 491px" oninput="search(this.value)">
                                        <button class="btn btn-light" type="button" style="position: absolute; top: 5px; right: 0; background-color: transparent; border-color: transparent; box-shadow: none;">
                                            <img src="~/images/search-alt-2-svgrepo-com.svg" style="height: 30px; width: 30px;" />
                                        </button>
                                    </div>
                                    <div id="searchResults" class="list-group position-absolute" style="top: calc(100% - 1px); z-index: 100; width: 491px;">
                                    </div>
                                </li>
                                <li class="nav-item d-flex align-items-center justify-content-center">
                                    <a asp-controller="Teacher" asp-action="List" class="">  <i class="fa-solid fa-user-tie color-primary"></i>老師推薦 <i class="fal fa-plus "></i></a>
                                </li>
                            </ul>
                        </div>



                        <div class="more-option  ">
                            @* <div class="item">
                            <div class="language">
                            <select class="niceselect">
                            <option value="1">English</option>
                            <option value="2">Chinese</option>
                            <option value="3">French</option>
                            </select>
                            </div>
                            </div> *@
                            @*        <div class="item">
                            <a asp-controller="Teacher" asp-action="List" target="_self">
                            <i class="fa-solid fa-user-tie color-primary"></i>
                            <span>認識我們的老師</span>
                            </a>
                            </div> *@
                            <div id="toLogin" style="display:block" class="item">
                                <a asp-controller="Home" asp-action="Login" class="btn-icon-text" target="_self" aria-label="User">
                                    <i class="fa-solid fa-user"></i>
                                    <span id="testspan">登入／註冊</span>
                                </a>
                            </div>
                            <div id="isLogin" style="display:none" class="item">
                                <div class="nav-item dropdown ">

                                    <a class="nav-link nav-profile d-flex align-items-center p-0" href="#" data-bs-toggle="dropdown">
                                        <img src="~/images/owenadd/membernophoto.jpg" alt="Profile" class="memberPic rounded-circle" style="width: 36px; height:36px">
                                        <span id="navShowName" class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                                    </a><!-- End Profile Iamge Icon -->
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile mt-2">
                                        <li class="dropdown-header">
                                            <h6 id="userShowName" class="text-start">Kevin Anderson</h6>
                                            <span id="userEmail" class="text-start">Web Designer</span>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>

                                        <li class="toggleTAdmin" style="display:none">
                                            <a asp-controller="TeacherAdmin" asp-action="LessonList" id="toTeacherAdmin" class="dropdown-item d-flex align-items-center">
                                                <i class="fa-solid fa-chalkboard-user"></i>
                                                <span>切換至老師後台</span>
                                            </a>
                                        </li>
                                        <li class="toggleTAdmin" style="display:none">
                                            <hr class="dropdown-divider">
                                        </li>

                                        <li>
                                            <a asp-controller="Member" asp-action="Setting" class="dropdown-item d-flex align-items-center">
                                                <i class="fa-solid fa-gear"></i>
                                                <span>帳號設定</span>
                                            </a>
                                        </li>

                                        @*                                         <li>
                                        <a asp-controller="Member" asp-action="Fav" class="dropdown-item d-flex align-items-center">
                                        <i class="fa-solid fa-bookmark"></i>
                                        <span>我的收藏</span>
                                        </a>
                                        </li> *@

                                        <li>
                                            <a asp-controller="Message" asp-action="ChatStudent" class="dropdown-item d-flex align-items-center">
                                                <i class="fa-solid fa-message"></i>
                                                <span>老師訊息</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a asp-controller="LessonHistory" asp-action="LearningRecord" class="dropdown-item d-flex align-items-center">
                                                <i class="fa-solid fa-graduation-cap"></i>
                                                <span>課程紀錄</span>
                                            </a>
                                        </li>
                                        @*                                         <li>
                                        <a asp-controller="Portfolio" asp-action="List" class="dropdown-item d-flex align-items-center">
                                        <i class="fa-solid fa-puzzle-piece"></i>
                                        <span>我的作品</span>
                                        </a>
                                        </li> *@
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>

                                        <li>
                                            <a asp-controller="Home" asp-action="Logout" class="dropdown-item d-flex align-items-center">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                <span>登出</span>
                                            </a>
                                        </li>

                                    </ul><!-- End Profile Dropdown Items -->
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header-area end -->
    @RenderBody()
    <!-- Go top -->
    <div class="go-top"><i class="fal fa-long-arrow-up"></i></div>

    <!-- Magic Cursor -->
    <div class="cursor"></div>
    <div class="cursor"></div>
    <div id="nfcircle" style="visibility:hidden; position: fixed; bottom: 0; right: 0; margin-right:120px; margin-bottom: 45px; z-index: 9999; width: 48px; height: 48px; border-radius: 50%; border: 2px solid #BEBEBE; background-color: #fff; display: flex; justify-content: center; align-items: center;">
        <!-- 推播Notification-->
        <li class="nav-item d-flex align-items-center justify-content-center dropdown">
            <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown" style="position: relative; display: inline-block;">
                <i class="fa-regular fa-bell" id="bellicon" style="font-size: 32px; color: #000;"></i>
                <span class="badge bg-primary badge-number" style="position: absolute; bottom: -6px; right: -8px; font-size: 12px; visibility: hidden;">1</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications"></ul>
        </li>
        <!-- 推播Notification End-->
    </div>

    <!-- AI客服 Start-->
    <div id="aicircle">
        <a href="#" id="chatButton">
            <i class="fa-regular fa-comment" id="chatRoomIcon" style="font-size: 32px;"></i>
        </a>
    </div>

    <div class="chat-room" id="chatRoom" style="width: 350px; height: 350px;">
        <div class="chat-container" style="position: relative;"></div>
        <div class="chat-input" style="position: absolute; bottom: 0; left: 0; width: 100%;">
            <button id="demoAIButton">demo</button>
            <input type="text" id="messageInputAI" placeholder="輸入訊息">
            <button id="sendAIButton">送出</button>
        </div>
    </div>
    <!-- AI客服 End-->
    <!-- Footer-area start -->
    <footer class="footer-area bg-primary-light mt-50 p-0">
        <div class="footer-top pt-100 pb-70">
            <div class="container">
                <div class="row gx-xl-5 justify-content-between">
                    <div class="col-lg-3 col-sm-6 col-sm-12">
                        <div class="footer-widget" data-aos="fade-up" data-aos-delay="100">
                            <!-- Logo -->
                            <div class="logo mb-20">
                                <a class="navbar-brand" href="index.html" target="_self" title="Link">
                                    <img class="lazyload img-fluid img-fixed-size" src="~/images/logo/transparentlogo.png" alt="Brand Logo">
                                </a>
                            </div>
                            <p>
                                來學樂
                            </p>
                            <p>
                                多元課程預約平台
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4">
                        <div class="footer-widget" data-aos="fade-up" data-aos-delay="200">
                            <h5>關於</h5>
                            <ul class="footer-links">
                                <li>
                                    <a href="signup.html" target="_self" title="link">註冊帳號</a>
                                </li>
                                <li>
                                    <a href="mentors.html" target="_self" title="link">老師總覽</a>
                                </li>
                                <li>
                                    <a href="courses.html" target="_self" title="link">課程內容</a>
                                </li>
                                <li>
                                    <a asp-controller="Portfolio" asp-action="AllWorks" class="dropdown-item d-flex align-items-center">
                                        課程心得分享
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:4200/" target="_self" title="link">申請成為老師</a>
                                </li>
                                <li>
                                    <a href="error-404.html" target="_self" title="link">隱私權政策</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-4">
                        <div class="footer-widget" data-aos="fade-up" data-aos-delay="200">
                            <h5>幫助</h5>
                            <ul class="footer-links">

                                <li>
                                    <a href="error-404.html" target="_self" title="link">如何使用我們的服務</a>
                                </li>
                                <li>
                                    <a href="error-404.html" target="_self" title="link">關於我們</a>
                                </li>
                                <li>
                                    <a href="contact.html" target="_self" title="link">聯絡我們</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="footer-widget" data-aos="fade-up" data-aos-delay="200">
                            <h5>下載APP</h5>
                            <div class="btn-groups">
                                <a href="error-404.html" class="btn btn-img size-sm radius-sm" title="App Store" target="_blank">
                                    <img class="lazyload blur-up" src="/images/placeholder.png" data-src="/images/app-store.png" alt="App Store">
                                </a>
                                <a href="error-404.html" class="btn btn-img size-sm radius-sm" title="Play Store" target="_blank">
                                    <img class="lazyload blur-up" src="/images/placeholder.png" data-src="/images/play-store.png" alt="App Store">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copy-right-area border-top ptb-30">
            <div class="container">
                <div class="copy-right-content">
                    <div class="social-link rounded style-2 justify-content-center mb-10">
                        <a href="https://www.instagram.com/" target="_blank" title="Link"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.dribbble.com/" target="_blank" title="Link"><i class="fab fa-dribbble"></i></a>
                        <a href="https://www.twitter.com/" target="_blank" title="Link"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/" target="_blank" title="Link"><i class="fab fa-youtube"></i></a>
                    </div>
                    <span>
                        Copyright <i class="fal fa-copyright"></i><span id="footerDate"></span> <a href="index.html" target="_self" title="Oppida" class="color-primary">LifeShareLearn</a> 版權所有
                    </span>
                </div>
            </div>
        </div>
        <!-- Shapes -->
        <div class="shape">
            <img class="shape-1 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-3.png" alt="Shape">
            <img class="shape-2 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-1.png" alt="Shape">
            <img class="shape-3 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-6.png" alt="Shape">
            <img class="shape-4 lazyload" src="/images/placeholder.png" data-src="/images/shape/shape-4.png" alt="Shape">
        </div>
    </footer>
    <!-- Footer-area end-->
    @await RenderSectionAsync("LessonScripts", required: false)
    <!--首頁搜尋bar-->
    <script src="~/js/clementscript/search.js" asp-append-version="true"></script>
    <!-- Lazysizes -->
    <script src="~/js/vendors/lazysizes.min.js"></script>
    <!-- Jquery JS -->
    <script src="~/js/vendors/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/vendors/bootstrap.min.js"></script>
    <!-- Counter JS -->
    <script src="~/js/vendors/jquery.counterup.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/js/vendors/jquery.nice-select.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/js/vendors/jquery.magnific-popup.min.js"></script>
    <!-- Noui Range Slider JS -->
    <script src="~/js/vendors/nouislider.min.js"></script>
    <!-- Swiper Slider JS -->
    <script src="~/js/vendors/swiper-bundle.min.js"></script>
    <!-- AOS JS -->
    <script src="~/js/vendors/aos.min.js"></script>
    <!-- Mouse Hover JS -->
    <script src="~/js/vendors/mouse-hover-move.js"></script>
    <!-- Main script JS -->
    <script src="~/js/script.js" asp-append-version="true"></script>
    <!-- Video.js-->
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <!--搜尋功能-->
    <!--根據登入狀態改變前台網頁-->
    <script src="~/js/loginstatus.js"></script>
    <!--SignalR-->
    <script src="~/js/BenScript/signalr.js"></script>
    <!--推播-->
    <script src="~/js/BenScript/LayoutPushMsg.js" asp-append-version="true"></script>
    <!--AI客服-->
    <script src="~/js/BenScript/LayoutAIC.js" asp-append-version="true"> </script>

    <!--Sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="//cdn.datatables.net/2.0.1/js/dataTables.min.js" asp-append-version="true"></script>
</html>