<!-- start error area -->
<partial name="_SweetAlertPartial" />
<div class="error-area ptb-100">
    <div class="container">
        <div class="error-content">
            <img class="lazyload" src="/images/placeholder.png" data-src="/images/404.svg" alt="image">
            <h3>喔 喔找不到頁面</h3>
            <p>
                請重新查詢或是點擊下方的首頁連結
            </p>
            <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary rounded-pill" title="Back to Home" target="_self">返回頁面</a>
        </div>
    </div>
</div>
<!-- end error area -->