@model LessonAvgEvalViewModel
<li class="d-inline-block">
    <div class="ratings size-md gap-2">
        <div class="rate bg-img" data-bg-image="/images/rate-star-md.png" style="background-image: url('/images/rate-star-md.png');">
            @{
                string width = "";
                switch (Model.FAvgScore)
                {
                    case 1:
                        width = "width:20%;";
                        break;
                    case 1.1:
                        width = "width:22%;";
                        break;
                    case 1.2:
                        width = "width:24%;";
                        break;
                    case 1.3:
                        width = "width:26%;";
                        break;
                    case 1.4:
                        width = "width:28%;";
                        break;
                    case 1.5:
                        width = "width:30%;";
                        break;
                    case 2:
                        width = "width:40%;";
                        break;
                    case 2.1:
                        width = "width:42%;";
                        break;
                    case 2.2:
                        width = "width:44%;";
                        break;
                    case 2.3:
                        width = "width:46%;";
                        break;
                    case 2.4:
                        width = "width:48%;";
                        break;
                    case 2.5:
                        width = "width:50%;";
                        break;
                    case 2.6:
                        width = "width:52%;";
                        break;
                    case 2.7:
                        width = "width:54%;";
                        break;                    
                    case 2.8:
                        width = "width:56%;";
                        break;
                    case 2.9:
                        width = "width:58%;";
                        break;
                    case 3:
                        width = "width:60%;";
                        break;
                    case 3.1:
                        width = "width:62%;";
                        break;
                    case 3.2:
                        width = "width:64%;";
                        break;
                    case 3.3:
                        width = "width:66%;";
                        break;
                    case 3.4:
                        width = "width:68%;";
                        break;
                    case 3.5:
                        width = "width:70%;";
                        break;
                    case 3.6:
                        width = "width:72%;";
                        break;                    
                    case 3.7:
                        width = "width:74%;";
                        break;
                    case 3.8:
                        width = "width:76%;";
                        break;
                    case 3.9:
                        width = "width:78%;";
                        break;
                    case 4:
                        width = "width:80%;";
                        break;
                    case 4.1:
                        width = "width:82%;";
                        break;
                    case 4.2:
                        width = "width:84%;";
                        break;
                    case 4.3:
                        width = "width:86%;";
                        break;
                    case 4.4:
                        width = "width:88%;";
                        break;
                    case 4.5:
                        width = "width:90%;";
                        break;
                    case 4.6:
                        width = "width:92%;";
                        break;
                    case 4.7:
                        width = "width:94%;";
                        break;
                    case 4.8:
                        width = "width:96%;";
                        break;
                    case 4.9:
                        width = "width:98%;";
                        break;
                    case 5:
                        width = "width:100%;";
                        break;
                    default:
                        width = "width:0%;";
                        break;
                }
            }
            <div class="rating-icon bg-img" style="background-image: url('/images/rate-star-md.png'); @width" data-bg-image="/images/rate-star-md.png"></div>
        </div>
        <span class="ratings-total">@Model.FAvgScore</span>
    </div>
</li> 