@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Breadcrumb start -->
<div class="breadcrumb-area bg-img bg-cover" data-bg-image="/images/owenadd/breadcrumb-bg.jpg">
    <div class="container">
        <div class="content text-center">
            <h2>推薦的老師</h2>
        </div>
    </div>
</div>
<!-- Breadcrumb end -->
<!-- Mentor-area start -->
<section class="mentor-area mentor-area_v1 pt-100 pb-70">
    <div class="container">
        <div class="row gx-xl-5">
            <!-- 篩選 -->
            <div class="col-lg-4 col-xl-3">
                <!-- Spacer -->
                <div class="pb-40 d-none d-lg-block"></div>
                <div class="widget-offcanvas offcanvas-lg offcanvas-start" tabindex="-1" id="widgetOffcanvas" aria-labelledby="widgetOffcanvas">
                    <div class="offcanvas-header px-20">
                        <h4 class="offcanvas-title">Filter</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#widgetOffcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body p-0">
                        <aside class="widget-area px-20" data-aos="fade-up">
                            <!-- 搜尋老師名稱 -->
                            <div class="widget widget-search py-20">
                                <div class="search-form">
                                    <form id="searchForm">
                                        <div class="input-inline border rounded-pill">
                                            <input id="inputKeyword" class="form-control border-0" placeholder="搜尋老師名稱..." type="text" name="SEARCH">
                                            <button class="btn-icon rounded-pill" type="button" aria-label="Search button">
                                                <i class="fa-solid fa-magnifying-glass"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- 搜尋科目 -->
                            <div class="widget widget-categories py-20">
                                <h5 class="title">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categories">
                                        領域/科目
                                    </button>
                                </h5>
                                <div id="categories" class="collapse show">
                                    <div class="accordion-body mt-20 scroll-y">
                                        <ul class="list-group">
                                            <!-- Add class .list-dropdown for dropdown-menu -->
                                            <!-- 顯示所有圖片 -->
                                            <li class="list-item list-dropdown">
                                                <a class="icon-start" href="#development">所有老師</a>
                                            </li>
                                            <li class="list-item list-dropdown">
                                                <a class="category-toggle" href="#development">烹飪<span class="qty">(3)</span></a>
                                                <ul class="menu-collapse">
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>日式料理</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>法式料理</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>中式料理</button></li>
                                                </ul>
                                            </li>
                                            <li class="list-item list-dropdown">
                                                <a class="category-toggle" href="#development">軟體工程<span class="qty">(3)</span></a>
                                                <ul class="menu-collapse">
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>SQL</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>C#</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>Python</button></li>
                                                </ul>
                                            </li>
                                            <li class="list-item list-dropdown">
                                                <a class="category-toggle" href="#development">語言<span class="qty">(5)</span></a>
                                                <ul class="menu-collapse">
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>法文</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>韓文</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>西班牙文</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>英文</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>日文</button></li>
                                                </ul>
                                            </li>
                                            <li class="list-item list-dropdown">
                                                <a class="category-toggle" href="#development">投資理財<span class="qty">(3)</span></a>
                                                <ul class="menu-collapse">
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>ETF</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>美股</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>台股</button></li>
                                                </ul>
                                            </li>
                                            <li class="list-item list-dropdown">
                                                <a class="category-toggle" href="#development">休閒運動<span class="qty">(3)</span></a>
                                                <ul class="menu-collapse">
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>瑜珈</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>籃球</button></li>
                                                    <li><button class="icon-start" href="courses.html" title="link" target="_self"><i class="fal fa-angle-right"></i>羽球</button></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                          
                        </aside>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-9">
                <div class="row" data-aos="fade-up">
                    <div class="row" id="row">
                        <!-- 老師卡片 -->
                        <div class="col-lg-4 col-sm-6" data-aos="fade-up">
                            <div class="card radius-md mb-30 shadow-md">
                                <div class="card-img">
                                    <a asp-controller="Teacher" asp-action="info" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                                        <img id="lazyload" src="/images/placeholder.png" data-src="/images/mentor/mentor-1.jpg" alt="Image">
                                    </a>
                                @*     <div>
                                        <button class="fa-regular fa-heart" style="display: flex;justify-content: center; align-items: center;font-size:30px;width:40px;height:40px;position: absolute; top: 0; left: 82%; margin: 10px;border-radius:50px;background-color:white;z-index:1"></button>
                                    </div> *@
                                </div>
                                <div class="card-content text-center">
                                    <h4 class="card-title lc-1 mb-1">
                                        <a href="mentor-details.html" target="_self" title="Link">
                                            Jose Portilla
                                        </a>
                                    </h4>
                                    <p class="card-text color-primary font-sm">
                                        Web Designer
                                    </p>
                                    <div class="social-link justify-content-center">
                                        <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                                        <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                                        <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                                        <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 分頁功能那排 -->
                <nav class="pagination-nav mt-15 mb-30" data-aos="fade-up">
                    <ul id="ul1" class="pagination justify-content-center">
                       <!-- 這裡是分頁 1 、 2 、 3 -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Mentor-area end -->
@section Scripts {
    @* script功能 : 老師功能卡片的顯示(a元素壞掉了) *@
    <script>

        const searchData = {
            "keywordtn": "",
            "keywordsb": "",
            "subject": "",
            "page": 1,
            "pageSize": 9,
        };
        const inpKeyword = document.querySelector('#inputKeyword');
        const row = document.querySelector('#row');
        const ulPaging = document.querySelector('#ul1');
        const iconstarts = document.querySelectorAll('.icon-start');
        const btnKeyword = document.querySelector('.btn-icon.rounded-pill');
        const loadTrcards = async () => {

            const response = await fetch('@Url.Content("~/Teacher/AllTrInfo")', {
                "method": "POST",
                "body": JSON.stringify(searchData),
                "headers": { "Content-Type": "application/json" }
            });
            const datas = await response.json();
            console.log(datas);
            //console.log(datas.cardsResult);
            const divTrpics = datas.cardsResult.map(tr => {
                const { fTeacherId, teacherProfilePicURL, fTeacherName, subjectNames } = tr;
                return (
                    `<div class="col-lg-4 col-sm-6" data-aos="fade-up">
                          <div class="card radius-md mb-30 shadow-md">
                                <div class="card-img">
                                        <a href="https://localhost:7031/Teacher/Info?id=${fTeacherId}" title="Image" target="_self" class="lazy-container ratio ratio-1-2">
                                            <img id="lazyload" src=${teacherProfilePicURL} data-src="/images/mentor/mentor-1.jpg" alt="Image">
                                         </a>
                        
                                                                                            </div>
                                                                                            <div class="card-content text-center">
                                                                                                <h4 class="card-title lc-1 mb-1">
                                                                                                    <a href="mentor-details.html" target="_self" title="Link">
                                                                                                          ${fTeacherName}
                                                                                                    </a>
                                                                                                </h4>
                                                                                                <p class="card-text color-primary font-sm">
                                                                                                          ${subjectNames}
                                                                                                </p>
                                                                                                <div class="social-link justify-content-center">
                                                                                                    <a href="https://www.instagram.com/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
                                                                                                    <a href="https://www.dribbble.com/" target="_blank" title="dribbble"><i class="fab fa-dribbble"></i></a>
                                                                                                    <a href="https://www.twitter.com/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
                                                                                                    <a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>`
                )
            });
            row.innerHTML = divTrpics.join("");
            //$('#lazyload').attr("src",)
            //分頁
            let liPaging = "";
            for (let i = 1, max = datas.totalPages; i <= max; i++) {
                //console.log(i)
                liPaging += ` <li class="page-item"  onclick="pagingHandler(${i})"><a class="page-link" href="#">${i}</a></li>`
            }
            ulPaging.innerHTML = liPaging;
        };
        //分頁
        const pagingHandler = page => {
            searchData.page = page;
            //console.log(page);
            loadTrcards();
        }
        //老師名稱關鍵字搜尋
        // inpKeyword.addEventListener('keydown', event => {
        //     // console.log(event.which); //Enter => 13
        //     if (event.which === 13) {
        //         searchData.keywordtn = inpKeyword.value;
        //         searchData.page = 1;
        //         loadTrcards();
        //     }
        // })
        //老師名稱關鍵字搜尋
        btnKeyword.addEventListener('click', event => {
            searchData.keywordtn = inpKeyword.value;
            searchData.page = 1;
            loadTrcards();
            //回歸預設
            searchData.keywordtn = '';
            inpKeyword.value = '';
        });
        //科目名稱篩選
        iconstarts.forEach(iconstart => {
            iconstart.addEventListener('click', (event) => {
                const subjectname = iconstart.innerText;
                //console.log(subjectname)
                searchData.keywordsb = subjectname;
                searchData.page = 1;
                loadTrcards();
                //回歸預設
                searchData.keywordsb = '';
            })
        })

        loadTrcards();
    </script>
}