@model LessonCreateViewModel

@if (Model.FPhoto != null)
{
    <div class="col-sm-6 d-flex rounded border border-dark border-1 pic">
        <img id="imgPreview" class="lazyload" style="width:148px;height:92px;margin;border-radius:6px;" src="@Url.Content("~/TeacherAdmin/showPicture?id=")@Model.FLessonCourseId" alt="course" title="@Model.FName">
    </div>

}
else
{
    <div class="col-sm-6 d-flex rounded border border-dark border-2 pic">
        <img src="~/images/defaultimage.png" class="rounded" alt="..." title="放大檢視" style="width:145px;height:90px" id="imgPreview">
    </div>
}
