@model TTeacherImage
<!-- 新增圖片的modal彈跳視窗-->

<style>
    .dz-preview .dz-progress {
        /* 將進度條透明 */
        /* opacity: 0; */
        display: none;
    }

    .dz-preview .dz-details {
        display: none;
    }

    .dz-preview .dz-error-message {
        display: none;
    }

    .dz-preview .dz-success-mark {
        display: none;
    }

    .dz-preview .dz-error-mark {
        display: none;
    }

    #demoPic > button {
        color: white;
        background-color: white;
        color: white;
        background-color: white
    }

    #demoPic:hover > button {
        background-color: lightgrey;
        color: gray;
    }
</style>

<div class="modal fade" id="exampleModal" tabindex="-100" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center" id="demoPic">
                <h5 class="modal-title" id="exampleModalLabel">上傳圖片</h5>
                    <button id="demoCertificate" class="btn btn-sm rounded-pill">中餐證照</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="TeacherAdmin" asp-action="TAddtrimage" enctype="multipart/form-data">
                <div class="modal-body" style=" display:flex ;">
                    <!-- 拖曳圖片 -->
                    <div action="TAddtrimage" class="dropzone" id="divdropzone" style="text-align: center;padding:100px; border: 2px dashed  #ADADAD;">
                        <!-- 自訂dropzonejs的預設文字 -->
                        <div class="dz-message" data-dz-message><span></span></div>
                        <img src="~/images/TonyAdd/image_upload_icon.png" /><br>
                        <label>將你要上傳的圖片拖曳到這裡</label>
                        <div id="divwarning" style="display:none">
                            <img src="~/images/TonyAdd/warning.png" style="width:25px" />
                            <label style="color:red;font-size:15px">檔案格式無效。</label>
                        </div>
                        <!-- 上傳圖片按鈕 -->
                        <input asp-for="FImageLink" type="file" id="Inputfile" class="hidden" accept="image/gif, image/jpeg, image/png" multiple />
                        <label for="Inputfile" class="btn btn-primary" title="選取圖片">選取圖片</label>
                        @*  <div style="border:1px solid red;display:none;" class="dz-progress"><span  class="dz-upload" data-dz-uploadprogress></span></div> *@
                    </div>
                    <div style="text-align: center;padding:100px">
                        <div class="form-floating mb-3">
                            <select asp-for="FCategory" class="form-select">
                                <option disabled selected hidden></option>
                                <option value="教育背景">教育背景</option>
                                <option value="證照證書">證照證書</option>
                                <option value="作品">作品</option>
                            </select>
                            <span asp-validation-for="FCategory" class="text-danger"></span>
                            <label for="floatingInput">選擇分類</label>
                        </div>
                        <!--一般文字輸入-->
                        <div class="form-floating mb-3">
                            <!-- 內容1  -->
                            <input asp-for="FImageName" class="form-control" id="floatingInput" placeholder="">
                            <!-- 標題1  -->
                            <label for="floatingInput">標題</label>
                        </div>
                        @*     <div class="form-floating mb-3">
                        <input class="form-control" id="iptdataURL">
                        </div> *@
                    </div>
                </div>
                <!-- 這個容器用來裝dropzone預設的預覽圖片 -->
                <div id="previews" style="display:flex;">  </div>
                <div class="modal-footer">
                    <input id="inpSubmit" type="button" name="file" class="btn btn-primary" value="上傳">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>

<script>
    const formData = new FormData();
    Dropzone.options.divdropzone = {
        // 設置為 false，禁用自動處理佇列
        autoProcessQueue: false,
        // 預覽圖片放到id是previews的容器
        previewsContainer: "#previews",
        init: function () {
            this.on("success", function (file, response) {
                var progressBar = file.previewElement.querySelector(".progress-bar");
                progressBar.remove();
            });
            // this.on("success", function (file, response) {
            //     // 在上傳成功後執行的動作
            //     console.log(response); // 這裡的 response 就是伺服器回傳的資料
            // });

            // this.on("addedfile", function (file) {
            //     // 在檔案被加入佇列時執行的動作
            //     console.log(file);
            //     //console.log(dataURL);
            // });
            this.on("addedfile", function (file) {
                formData.append('f', file);
                file.accepted = true;
                // 在檔案被加入佇列時執行的動作
                var reader = new FileReader();
                reader.onload = function (e) {
                    var dataURL = e.target.result;
                    //console.log(dataURL);
                    //document.getElementById("iptdataURL").value = dataURL;
                };
                reader.readAsDataURL(file);
            });
            this.on("success", function (file, response) {
                var progressBar = file.previewElement.querySelector(".progress-bar");
                progressBar.remove();
            });
            document.getElementById('inpSubmit').addEventListener('click', function (event) {
                //取消submit的預設行為
                event.preventDefault();
                // var myDropzone = Dropzone.forElement(".dropzone");
                // console.log("into btnclick");
                // myDropzone.processQueue() ;
                //divdropzone.processQueue(); // 手動觸發上傳

                //ajax  fetch
                //FormData

                //console.log(document.querySelector('#FCategory').value);
                // const i = document.querySelector('#FCategory').selectedIndex;
                // console.log(i);
                // console.log(document.querySelector('#FCategory').options[i].text);

                //console.log(formData.get('f'));
                formData.append('FCategory', document.querySelector('#FCategory').value);
                formData.append('FImageName', document.querySelector('#floatingInput').value);
                fetch('@Url.Content("~/TeacherAdmin/TAddtrimage")', {
                    method: 'POST',
                    body: formData
                })
                // const form = event.target.closest('form');
                // Swal.fire({
                //     position: "center",
                //     icon: "success",
                //     title: "新增圖片成功",
                //     showConfirmButton: false,
                //     timer: 1500
                // }).then(() => {

                // });

                //base64 string > action > 轉成檔案儲存


                Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "新增成功",
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    //https://ithelp.ithome.com.tw/articles/10190062
                    //Javascript 頁面跳轉、刷新、重定向的幾種方式
                    window.location.href = '/TeacherAdmin/TRelatedPic';
                });

            });

        }



    }



    document.querySelector('#Inputfile').addEventListener('change', event => {
        //  console.log(event.target.files[0]);
        //formData.append('f', event.target.files[0]);
        const files = event.target.files;
        for (const file of files) {
            formData.append('f', file);
        }
    })
</script>
@* demo鍵 *@
<script>
    const floatingInput = document.querySelector('#floatingInput');
    const FCategory = document.querySelector('#FCategory');
    const demoCertificate = document.querySelector('#demoCertificate').addEventListener('click', (e) => {
        e.preventDefault();
        FCategory.value = '證照證書'; 
        floatingInput.value = '中餐證照';
    })
</script>