@model TTeacher

<!-- ========== 編輯表單 ========== -->

<style>
    .row.mb-3 > label{font-size:25px;}

    .row.mb-3 > div > textarea {
        font-size: 20px;
    }

    .row.mb-3 > div > input {
        font-size: 20px;
    }

    #demoIntroduction {
        color: white;
        background-color: white;
        color: white;
        background-color: white
    }

        #demoIntroduction:hover {
        background-color: lightgrey;
        color: gray;
    }
</style>

<form asp-controller="TeacherAdmin" asp-action="TEdittrbasicprofile" method="post">
    <div class="row mb-3">
        <!-- 標題1 老師名稱 -->
        <label class="col-md-4 col-lg-3 col-form-label" style="color:#012970">@Html.DisplayNameFor(t => t.FTeacherName)</label>
        <div class="col-md-8 col-lg-9">
            <!-- 內容1 老師名稱 -->
            <input asp-for="FTeacherName" class="form-control" >
            <span asp-validation-for="FTeacherName" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <!-- 標題2 自我介紹 -->
        <label class="col-md-4 col-lg-3 col-form-label" style="color:#012970">@Html.DisplayNameFor(t => t.FIntroduction)</label>
       
        <div class="col-md-8 col-lg-9">
            <!-- 內容2 自我介紹 -->
            <textarea asp-for="FIntroduction" class="form-control" style="height: 400px"></textarea>
        </div>
    </div>

    <div class="row mb-3">
        <!-- 標題3 公開聯絡方式 -->
        <label class="col-md-4 col-lg-3 col-form-label" style="color:#012970">@Html.DisplayNameFor(t => t.FContactInfo)</label>
        <div class="col-md-8 col-lg-9">
            <!-- 內容3 公開聯絡方式 -->
            <textarea asp-for="FContactInfo" class="form-control" style="height: 100px"></textarea>
        </div>
    </div>

@*     <div class="row mb-3">
        <!-- 標題5 備註 -->
        <label  class="col-md-4 col-lg-3 col-form-label">@Html.DisplayNameFor(t => t.FNote)</label>
        <div class="col-md-8 col-lg-9">
            <!-- 內容5 備註 -->
            <input asp-for="FNote" class="form-control" >
        </div>
    </div> *@

    <div class="d-flex justify-content-end gap-3">
        <!-- 提交 --><button class="btn btn-sm rounded-pill" id="demoIntroduction">demo</button>

        <input type="submit" class="btn btn-primary" value="儲存">
        
    </div>
</form>
<!-- End Profile Edit Form -->
@* demo鍵 *@
<script>
    const FContactInfo = document.querySelector('#FContactInfo');
    const demoIntroduction = document.querySelector('#demoIntroduction').addEventListener('click', (e) => {
        e.preventDefault();
        FContactInfo.value += ' ; FACEBOOK : ting2800928 ';
    })
</script>