@model TTeacherImage
<!-- 新增圖片的modal彈跳視窗-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-center" id="demoPic">
                    <h5 class="modal-title" id="exampleModalLabel">編輯照片資訊</h5>
                    <button class="btn btn-sm rounded-pill" id="demoFood1">梅干獅子頭</button>
                    <button class="btn btn-sm rounded-pill" id="demoFood2">碧玉百頁絲</button>
                    <button class="btn btn-sm rounded-pill" id="demoFood3">生爆野鮮菇</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-controller="TeacherAdmin" asp-action="TeditPic">
                <input id="inputeditimageid" type="hidden" asp-for="FTeacherImagesId" />
                <div style="text-align: center;padding:100px">
                    <div class="form-floating mb-3">
                        <select asp-for="FCategory" class="form-select" id="editselect">
                            <option disabled selected hidden></option>
                            <option>教育背景</option>
                            <option>證照證書</option>
                            <option>作品</option>
                        </select>
                        <span asp-validation-for="FCategory" class="text-danger"></span>
                        <label for="floatingInput">選擇分類</label>
                    </div>
                    <!--一般文字輸入-->
                    <div class="form-floating mb-3">
                        <!-- 內容1  -->
                        <input asp-for="FImageName" class="form-control" id="editfloatingInput" placeholder="">
                        <!-- 標題1  -->
                        <label for="editfloatingInput">標題</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <input id="editimagesubnit" type="button" class="btn btn-primary" value="儲存">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('#editimagesubnit').addEventListener('click', function (event) {
        //event.preventDefault();
        const form = event.target.closest('form');
        Swal.fire({
            position: "center",
            icon: "success",
            title: "編輯成功",
            showConfirmButton: false,
            timer: 1500
        }).then(() => {
            form.submit();
        });
    });

</script>
@* demo鍵 *@
<script>
    const editselect = document.querySelector('#editselect');
    const editfloatingInput = document.querySelector('#editfloatingInput');
    const demoFood1 = document.querySelector('#demoFood1').addEventListener('click', (e) => {
        e.preventDefault();
        editselect.value = '作品';
        editfloatingInput.value = '梅干獅子頭';
    })
    const demoFood2 = document.querySelector('#demoFood2').addEventListener('click', (e) => {
        e.preventDefault();
        editselect.value = '作品';
        editfloatingInput.value = '碧玉百頁絲';
    })
    const demoFood3 = document.querySelector('#demoFood3').addEventListener('click', (e) => {
        e.preventDefault();
        editselect.value = '作品';
        editfloatingInput.value = '生爆野鮮菇';
    })
</script>